<!DOCTYPE html>
<html lang="en">

<head>
    <title>NTHU智慧農業平台</title>
    <link rel="Shortcut Icon" type="image/x-icon" href="images/agronomy.ico">

    <!-- css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- custom css -->
    <link href="./build/css/introduction.css" rel="stylesheet">
    <!-- custom js -->
    <script src="./build/js/introduction.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-top">
        <div class="container">
            <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand">NTHU智慧農業平台</a>
            </div>
            <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#section_intro">平台功能</a></li>
                <li><a href="#section_picture">平台畫面</a></li>
                <li><a href="login.html">登入</a></li>
            </ul>
            </div>
        </div>
    </nav>
        
    <header class="jumbotron">
        <div class="container">
            <h1>國立清華大學<br><br>智慧農業物聯網平台</h1>
        </div>
    </header>

    <section id="section_intro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="section-heading">平台功能</h1>
                </div>
                <div class="col-sm-6">
                    <div class="content-wrap">
                        <i class="fa fa-area-chart icon"></i>
                        <h2>數據顯示</h2>
                        <br>
                        <ul>
                            <li>視覺化數據呈現</li>
                            <li>簡易操作介面</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="content-wrap">
                        <i class="fa fa-sliders icon"></i>
                        <h2>智動控制</h2>
                        <br>
                        <ul>
                            <li>規則設定控制</li>
                            <li>手動設定控制</li>
                            <li>時間設定控制</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="content-wrap">
                        <i class="fa fa-line-chart icon"></i>
                        <h2>數據分析</h2>
                        <br>
                        <ul>
                            <li>同種類感測器數據比較</li>
                            <li>感測器異常狀況分析</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="content-wrap">
                        <i class="fa fa-calendar icon"></i>
                        <h2>農業日誌</h2>
                        <br>
                        <ul>
                            <li>即時記錄田間日誌</li>
                            <li>簡單掌握作物生長狀況</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_picture">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="section-heading">平台畫面</h1>
                </div>
                <div class="col-sm-12">
                    <h2>數據顯示</h2>
                    <hr>
                </div>
                <div class="col-sm-6">
                    <div class="img_wrap">
                        <img src="./images/introduction/show1.png" alt=""/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img_wrap">
                        <img src="./images/introduction/show2.png" alt=""/>
                    </div>
                </div>

                <div class="col-sm-12">
                    <h2>智動控制</h2>
                    <hr>
                </div>
                <div class="col-sm-6">
                    <div class="img_wrap">
                        <img src="./images/introduction/control1.png" alt=""/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img_wrap">
                        <img src="./images/introduction/control2.png" alt=""/>
                    </div>
                </div>

                <div class="col-sm-12">
                    <h2>數據分析</h2>
                    <hr>
                </div>
                <div class="col-sm-6">
                    <div class="img_wrap">
                        <img src="./images/introduction/analysis1.png" alt=""/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img_wrap">
                        <img src="./images/introduction/analysis2.png" alt=""/>
                    </div>
                </div>
                
                <div class="col-sm-12">
                    <h2>農業日誌</h2>
                    <hr>
                </div>
                <div class="col-sm-6">
                    <div class="img_wrap">
                        <img src="./images/introduction/log1.png" alt=""/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="img_wrap">
                        <img src="./images/introduction/log2.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>